<div class="movie-info border-b border-gray-800">
    <div class="container mx-auto px-4 py-16 flex">
        <img src="{{show.poster_path}}" alt="picture" class="w-96">
        <div class="ml-24">
            <h2 class="text-4xl font-semibold">{{show.name}}</h2>
            <div class="flex items-center text-gray-400 text-sm">
                <svg class="fill-current text-orange-500 w-4" viewBox="0 0 24 24"><g data-name="Layer 2"><path d="M17.56 21a1 1 0 01-.46-.11L12 18.22l-5.1 2.67a1 1 0 01-1.45-1.06l1-5.63-4.12-4a1 1 0 01-.25-1 1 1 0 01.81-.68l5.7-.83 2.51-5.13a1 1 0 011.8 0l2.54 5.12 5.7.83a1 1 0 01.81.68 1 1 0 01-.25 1l-4.12 4 1 5.63a1 1 0 01-.4 1 1 1 0 01-.62.18z" data-name="star"/></g></svg>
                <span class="ml-1">{{show.vote_average}}%</span>
                <span class="mx-2">|</span>
                <span>{{show.first_air_date }} </span>
                <span class="mx-2">|</span>
                <ng-template ngFor let-genre [ngForOf]="show.genres" let-i="index">
                    <span class="ml-1">{{genre.name}},</span>
                </ng-template>
            </div>

            <h4 class="text-orange-500 font-semibold mt-8">Overview</h4>
            <p class="text-gray-300 mt-1">
               {{show.overview}}
            </p>

            <div class="mt-12">
                <h4 class="text-orange-500 font-semibold">Feaured Crew</h4>
                <div class="flex mt-2">
                    <div *ngFor="let crew of show.credits.crew.slice(0,4)" class="mr-8">
                        <div>{{crew.name}}</div>
                        <div class="text-sm text-gray-400">{{crew.job}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf = "show.videos.results.length > 0" class="mt-12">
                <div class="mt-12">
                <a href="https://www.youtube.com/watch?v={{show.videos.results[0].key}}" class="flex inline-flex items-center bg-orange-500 text-gray-900 rounded font-semibold px-5 py-4 hover:bg-orange-600 transition ease-in-out duration-150">
                        <svg class="w-6 fill-current" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                        <span class="ml-2">Play Trailer</span>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</div>


<div class="movie-cast border-b border-gray-800">
    <div class="container mx-auto px-4 py-10">
        <h2 class="text-4xl font-semibold text-orange-500">Cast</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            <ng-template ngFor let-castMember [ngForOf]="show.credits.cast.slice(0,10)" let-i="index">
                <app-cast-card [castMember]="castMember"  ></app-cast-card>
              </ng-template>      
        </div>
    </div>
</div>
 <div class="show-cast border-b border-gray-800">
    <div class="container mx-auto px-4 py-16">
        <h2 class="text-4xl font-semibold">Seasons</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            <ng-template ngFor let-season [ngForOf]="show.seasons" let-i="index">
                <app-season-card [season] ="season" [showPoster]="show.poster_path" [showId]="show.id" ></app-season-card>
            </ng-template> 
        </div>
    </div>
</div> 



 <div class="movie-images">
     <div class="container mx-auto px-4 py-10">
         <h2 class="text-4xl mx-auto px-4 py-10 text-orange-500">Images</h2>
         <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
             <ng-template ngFor let-image [ngForOf]="show.images.backdrops.slice(0,imageArrayLength)" let-i="index">
                <div class="mt-8">
                    <a href="#">
                        <img src="https://image.tmdb.org/t/p/w500{{image.file_path}}" alt="image1" class="hover:opacity-75 transition ease-in-out duration-150">
                    </a>
                </div>
              </ng-template>
         </div>
     </div>
 </div>
 
 <div *ngIf = "similarShows.length > 0" class="movie-cast border-b border-gray-800">
    <div class="container mx-auto px-4 py-10">
        <h2 class="text-4xl font-semibold text-orange-500">Similar Shows</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">           
            <ng-template ngFor let-show [ngForOf]="similarShows" let-i="index">
               <app-show-card [show]="show"></app-show-card>
             </ng-template>
        </div>
    </div>
</div>

