<div class="container mx-auto px-4 pt-10"> 
    <!-- Popular Movies -->
    <div class="popular-movies">
        <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">
            Popular Movies
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            <div *ngFor="let popMovie of popularMovies">
                <app-movie-card [movie]="popMovie"></app-movie-card>
            </div>   
        </div>
    </div>
            

    <!-- NowPlaying -->
    <div class="popular-movies py-24">
        <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">
            Now Playing
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            <div *ngFor="let nowMovie of nowPlayingMovies">
                <app-movie-card [movie]="nowMovie"></app-movie-card>
            </div>   
        </div>
    </div>
</div>
